#For Loop Questions:
Q1: Write a for loop to print numbers from 1 to 5.

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

Q2: Write a for loop to print each character in the string "Python".

In [5]:
for i in ("Python"):
    print(i)

P
y
t
h
o
n

Q3: Write a for loop to print all even numbers between 1 and 10.

In [12]:
for i in range(0,11):
    if i%2 == 0:
        print(i)

0
2
4
6
8
10

In [10]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

Q4: Write a for loop to sum the elements in the list [1, 2, 3, 4, 5].

In [24]:
l = [1,2,3,4,5]
sum = 0
for i in l:
    sum+=i
print(i)

5

Q5: Write a for loop to print the elements of a list in reverse order.

In [37]:
my_list = [1, 2, 3, 4, 5]

for i in range(len(my_list) - 1, -1, -1):
    print(my_list[i])

5
4
3
2
1

In [31]:
l = [1,2,3,4,5]
for i in l[::-1]:
   print(i)

5
4
3
2
1

Q6: Write a for loop to print only positive numbers from the list [-1, 2, -3, 4, -5].

In [39]:
l = [-1,2,-3,4,-5]
for i in l:
    if i > 0:
      print(i)

2
4

Q7: Write a for loop to multiply each element of a list by 2.

In [41]:
l = [1,2,3,4,5]
for i in l:
    i*=2
    print(i)

2
4
6
8
10

Q8: Write a for loop to find the minimum value in a list.

In [43]:
l = [1,2,3,4,5]
for i in l:
    if i == min(l):
        print(f"the minimum num is:{i}")

the minimum num is:1

Q9: Write a for loop to print all odd numbers from 1 to 10.

In [44]:
for i in range(0,11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

Q10: Write a for loop to concatenate the elements of a list into a single string.

In [50]:
l = ["ali",".","mo","ha","med"]
sum=""
for i in l:
    sum+=i
print(sum)

ali.mohamed

#While Loop Questions:
Q11: Write a while loop to print numbers from 1 to 5.

In [1]:
i=1
while i <= 5:
    print(i)
    i+=1

1
2
3
4
5

Q12: Write a while loop to print the elements of a list.
fruits = ['apple', 'banana', 'cherry']

In [2]:
fruits = ['apple', 'banana', 'cherry']
i=0
while i < len(fruits) :
    print(fruits[i])
    i+=1

apple
banana
cherry

Q13: Write a while loop to find the factorial of a number.

In [11]:
sum = 1
i = 1
while i <= 5:
    sum*=i
    i+=1
print(sum)

120

Q14: Write a while loop to print the sum of the first 10 natural numbers.

In [17]:
i=1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

Q15: Write a while loop to reverse a string.

In [49]:
my_string = "python"
sum=""
i = len(my_string)-1
while i >= 0 :
    sum+=my_string[i]
    i-=1
print(sum)

nohtyp

Q16: Write a while loop to print all even numbers between 1 and 10.

In [55]:
i=1
while i <= 10:
    if i % 2 == 0:
        print(i)
    i+=1

2
4
6
8
10

Q17: Write a while loop to print the digits of a number in reverse order.

In [61]:
number = 12845
while number > 0:
    digit = number%10
    print(digit,end="")
    number= number//10

54821

Bonus
Q18: Write a while loop to print the first 10 Fibonacci numbers.

In [69]:
a,b=0,1
i=0
while i<10:
  print(a)
  a,b=b,a+b
  i+=1

0
1
1
2
3
5
8
13
21
34

Q19: Write a while loop that stops when a negative number is entered by the user.

In [76]:
while True:
    i = int(input("enetr a positive number:"))
    if i > 0:
        print("positive")
    elif i == 0:
        print("its zero")
    else:
        print("its a negative")
        break

Bonus Q20: Write a while loop to print the multiplication table of 5.

In [9]:
i=1
sum = 5
while i <= 10:
    result = sum * i
    print(result)
    i+=1

5
10
15
20
25
30
35
40
45
50

#Built-in Functions Questions:
Q21: Use len() to find the length of the list [1, 2, 3, 4, 5].

In [11]:
l = [1,2,3,4,5]
print(len(l))

5

Q22: Use max() to find the largest number in the list [10, 20, 30, 40].

In [12]:
l=[10,20,30,40]
print(max(l))

40


Q23: Use min() to find the smallest number in the list [8, 3, 15, 6].

In [14]:
l=[8,3,15,6]
print(min(l))

3

Q24: Use sum() to calculate the total of the list [2, 4, 6, 8].

In [ ]:
l = [2,4,6,8]
print(sum(l))

Q25: Use sorted() to sort the list [5, 1, 4, 2, 3].

In [26]:
l=[5,1,4,2,3]
print(sorted(l))

[1, 2, 3, 4, 5]

Q26: Use abs() to find the absolute value of -10.

In [27]:
print(abs(-10))

10

new Q30: Use map() to apply the str.upper function to all elements in the list ['a', 'b', 'c'].

In [32]:
l = ["a","b","c"]
print(list(map(str.upper,l)))

['A', 'B', 'C']

#Def Function Questions:
Q31: Define a function greet() that prints "Hello, World!".

In [43]:
def greet():
     print("Hello World")
     return
greet()

Hello World

Q32: Define a function add(a, b) that returns the sum of two numbers.

In [42]:
def add(a,b):
    sum=a+b
    return sum
print(add(2,3))

5

Q33: Define a function multiply_list(numbers) that returns the product of all elements in a list.

In [47]:
def maltyplay_list(l):
    i = 1
    result = 1
    for i in l:
        result *= i
    return result
my_list=[1,2,3,4,5]
print(maltyplay_list(my_list))

120

Q34: Define a function is_even(num) that returns True if the number is even, otherwise False.

In [48]:
def is_even(x):
    if x % 2 ==0:
        print("true")
    else:
        print("false")
    return
x=int(input("enter a number:"))
is_even(x)

Q35: Define a function count_vowels(text) that returns the number of vowels in a string

In [24]:
def count_vowels(t):
    l="aeuioAEUIO"
    count=0
    for x in t:
        if x in l:
         count+=1
    print(count)
    return

a="ali"
count_vowels(a)

2

Q36: Define a function find_max(numbers) that returns the maximum value in a list.

In [26]:
def find_max(numbers):
    return max(numbers)
l = [1,2,3,5,4]
print(find_max(l))

5

new Q37: Define a function reverse_string(s) that returns the reverse of a string.

In [33]:
def reverse_string(s):
    return s[::-1]
a="ali"
print(reverse_string(a))

ila

#Lambda Function Questions:
Q38: Use a lambda function to add two numbers.

In [34]:
addition = lambda a,b:a+b
print(addition(1,2))

3

Q39: Use a lambda function to find the square of a number.

In [35]:
square = lambda a:a**2
print(square(20))

400

Q40: Use a lambda function to filter out even numbers from a list.

In [61]:
even_filter =list(filter(lambda d: d%2 == 0, numbers))
numbers=[1,2,3,4,5,6,7,8,9,10]
print(even_filter)

[2, 4, 6, 8, 10]