#Slicing Examples (5):
Example 1: Slice the first three elements from a list.

numbers = [1, 2, 3, 4, 5]

In [3]:
numbers = [1,2,3,4,5]
numbers[:3]

[1, 2, 3]

Slice the last two elements from a list.

fruits = ["apple", "banana", "cherry", "date"]

In [2]:
fruits = ["apple","banana","cherry","date"]
fruits[2:]

['cherry', 'date']

Example 3: Slice every other element from a string.

text = "abcdefg"

In [2]:
text = "abcdefg"
my_list = list(text)
print(my_list[1::2])
print(my_list)

['b', 'd', 'f']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

Reverse a list using slicing.

numbers = [10, 20, 30, 40, 50]

In [3]:
numbers=[10,20,30,40,50]
numbers[::-1]

[50, 40, 30, 20, 10]

Example 5: Extract a slice from the middle of a string.

word = "HelloWorld"

In [15]:
word="HelloWorld"
word[4:6]

'oW'

#List Examples (5):
Example 1: Add "hamster" element to a list.

animals = ["cat", "dog", "rabbit"]

In [17]:
animals =[ "cat","dog","rabbit"]
animals.append("hamster")
print(animals)

['cat', 'dog', 'rabbit', 'hamster']

 Remove an element 3 from a list.

numbers = [1, 2, 3, 4, 5]

In [27]:
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

 Access the third element in a list.

fruits = ["apple", "banana", "cherry", "date"]

In [28]:
fruits = ["apple", "banana", "cherry", "date"]
fruits[2]

'cherry'

 Combine two lists.

list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [5]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1+=list2
print(list1)

[1, 2, 3, 4, 5, 6]

 Sort a list of numbers.

numbers = [5, 2, 9, 1, 5, 6]

In [2]:
numbers = [5, 2, 9, 1, 5, 6]
numbers.sort()
print(numbers)

[1, 2, 5, 5, 6, 9]

#Tuple Examples (5):
Example 1: Create a tuple with three colors elements.

In [10]:
my_tuple = ("red","blue","black")
print(type(my_tuple),"\n",my_tuple)

<class 'tuple'>
 ('red', 'blue', 'black')

Access the second element of a tuple.

point = (10, 20, 30)

In [11]:
point = (10, 20, 30)
point[1]

20

Example 3: Check if an banana exists in a tuple.

fruits = ("apple", "banana", "cherry")

In [12]:
fruits = ("apple", "banana", "cherry")
if "banana" in fruits:
    print("banana exists in a tuple")
else:
    print("banana doesnot exist in a tuple ")

banana exists in a tuple

Example 4: Count occurrences of an element in a tuple.

numbers = (1, 2, 3, 2, 2, 4)

In [6]:
numbers = (1, 2, 3, 2, 2, 4)
print(numbers.count(2))

3

#Set Examples (5):
Example 1: Create a set and add an element.



my_set = {1, 2, 3}

In [32]:
my_set = {1,2,3}
my_set=list(my_set)
#print(f"{my_set}\n{type(my_set)}")
my_set.append(4)
my_set = set(my_set)
print(f"{my_set}\n{type(my_set)}")

{1, 2, 3, 4}
<class 'set'>

Example 2: Remove an element 2 from a set.

my_set = {1, 2, 3, 4}

In [33]:
my_set=list(my_set)
my_set.remove(2)
my_set = set(my_set)
print(f"{my_set}\n{type(my_set)}")

{1, 3, 4}
<class 'set'>

Example 3: Check if an element apple is in a set.

my_set = {"apple", "banana", "cherry"}

In [48]:
my_set = {"apple", "banana", "cherry"}
print("apple" in my_set)

True

Find the union of two sets.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [51]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1|set2
print(union_set)

{1, 2, 3, 4, 5}

 Find the intersection of two sets.


set1 = {1, 2, 3}
set2 = {3, 4, 5}

In [52]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1&set2
print(set3)

{3}

#Dictionary Examples (3):
Example 1: Create a dictionary and access a value by key.
EX of the keys "name" "age" "grade"

In [60]:
my_dict={"name":"ALi","age":19,"grade":2}
print(f"{my_dict["name"]}\n{my_dict["age"]}\n{my_dict["grade"]}")

ALi
19
2

Remove a key-value pair from a dictionary.

In [64]:
my_dict={"name":"ALi","age":19,"grade":2}
my_dict.pop("grade")
print(my_dict)

{'name': 'ALi', 'age': 19}

Check if a key exists in a dictionary.

In [65]:
my_dict={"name":"ALi","age":19,"grade":2}
print("name" in my_dict)

True

#If Condition Examples (5):
Example 1: Check if a number is positive.

In [1]:
number= float(input("please enter your number:"))
if number > 0:
    print("your number is positive")
else:
    print("its not positive")

Example 2: Check if a number is even or odd.

In [1]:
number= float(input("please enter your number:"))
if number % 2 == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

Example 3: Check if a number is zero, positive, or negative.

In [ ]:
number= float(input("please enter your number:"))
if number > 0:
    print("your number is positive")
elif number < 0 :
    print("your number is negative")
else:
    print("zero is not a positive or a negative, zero is zero")

Example 4: Check if a character is a vowel.

In [ ]:
char=str(input("add charecter to check:"))
vowel="aeouiAOIUE"
print(char)
if char in vowel:
    print("vowel")
else:
    print("its not")

Example 5: Check if a number is within a range.

In [ ]:
h_range = 10
l_range = 5
number = int(input("enter a number u want to check:"))
if h_range >= number >= l_range :
    print(f"{number} in range")
else:
    print(f"{number} not in range")

#Try To Solve
Write code take two numerical inputs for addition, subtraction,multiplication, and division. Your cooperation in furnishing these values will enable us to perform the specified mathematical operations accurately.

In [ ]:
print("Welcome to our calculator")
num1 = float(input("enter ur first number:"))
num2 = float(input("enter ur second number:"))
operation = input("Choose the mathematical operation you want(+,-,*,/):")
if operation == "+":
    print(num1+num2)
elif operation == "-":
    print(num1-num2)
elif operation == "*":
    print(num1*num2)
elif operation == "/":
    if num2 == 0:
        print("Error: U cant division by zero")
    else:
        print(num1/num2)
else:
    print("invalid input")

Try To Solve
Write Python code snippet removes a user-inputted item from a list and outputs the modified list?
Input_list: ["amit","learning","python","machine learning","data science","deep learning"]

In [ ]:
Input_list=["amit","learning","python","machine learning","data science","deep learning"]
print(Input_list)
deleted_element=input("enter the element to be deleted from this list:")
Input_list.remove(deleted_element)
print(Input_list)