Convert the string "hello world" to uppercase.

In [ ]:
print("hello world".upper())

Convert the string "PYTHON PROGRAMMING" to lowercase.

In [ ]:
print("PYTHON PROGRAMMING".lower())

Capitalize the first letter of the string "machine learning".

In [ ]:
print("machine learning".capitalize())

Convert the string "data science" to title case.

In [ ]:
print("machine learning".title())

Replace all occurrences of "a" with "@" in the string "banana".

In [ ]:
print("banana".replace("a","@"))

Check if the string "hello.py" ends with ".py".

In [ ]:
print("hello.py".endswith(".py"))

Check if the string "start now" starts with "start".

In [ ]:
print("hello py".startswith("hello"))

Join the list ["Python", "is", "fun"] into a single string separated by spaces.

In [ ]:
ali = ["Python", "is", "fun"]
a = (' '.join(ali))
print(a)

Split the string "apple,banana,cherry" into a list of fruits.

In [ ]:
print("apple,banana,cherry".split(","))

Extract the substring "world" from the string "hello world" using slicing.

In [ ]:
n = "hello world"
print(n[6:])

Get the first 5 characters of the string "DataScience".

In [ ]:
n = "DataScience"
print(n[-11:-6])

Retrieve the last 3 characters of the string "Programming".

In [ ]:
n = "Programming"
print(-1:-4)

Reverse the string "Python" using slicing.

In [ ]:
n = "Python"
print(n[::-1])

Extract every second character from the string "abcdefg".

In [ ]:
n = "abcdefg"
print(n[::2])

Use slicing to get "thon" from the string "Pythonist".

In [ ]:
n = "Pythonist"
print(n[3:7])

Replace the word "bad" with "good" in the string "This is a bad example".

In [ ]:
n = "this is a bad example"
print(n.replace("bad","good"))

Check if the string "2021_report.pdf" ends with ".doc".

In [ ]:
n = "2021_report.pdf"
print(n.endswith("doc"))

Convert the string "hELLo WOrLD" to swap case.

In [ ]:
print("hELLo WOrLD".swapcase())

Count the number of times "a" appears in the string "banana".

In [ ]:
print("banana".count("a"))

Find the index of the first occurrence of "n" in the string "environment".

In [ ]:
print("environment".index("n"))

Split the string "one-two-three" into a list using "-" as the separator.

In [ ]:
print("one-two-three".split(""))

Using slicing, obtain "gram" from the string "Programming".

In [ ]:
print("programming"[3:7])

Create a Python script to display personalized information. Utilize variables to store the user's name, 
age, and the name of the course they are learning. Dynamically generate a message that includes this 
information and print the result. Ensure clarity in your code implementation without relying on user 
input.

Expected Output:
My name is {your_name}, and I am {your_age} years old. I am engaged in learning {course_name}.

In [ ]:
my_name = "Ali"
my_age = 19
course_name = "Ai & machine learning diploma"
print(f"MY name is {my_name}, and i am {my_age} years old. i am engaged in learning {course_name}")
print("MY name is {}, and i am {} years old. i am engaged in learning {}".format(my_name,my_age,course_name))